<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!-- 启用360浏览器的极速模式(webkit) -->
		<meta name="renderer" content="webkit">
		<title>订单详情</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/index.css" />
		<link rel="stylesheet" href="/static/css/overBootstrap.css" />
	</head>

	<body>
		<div class="detail-header">
			<div class="currentLocation">当前位置 : 订单管理>>订单详情</div>
		</div>
		<div class="detail-content" id="content">
			
		</div>
		<script type="text/html" id="template">
			<div class="detail-content-div">
				<div class="detail-info">
					<div class="order-progress clearfix">
						<div class="col-sm-4 {{if payTime != '0'}}sel{{/if}}">
							<p class="mb20">买家付款</p>
							<p class="mt20">{{payTime | dateFormat}}</p>
						</div>
						<div class="col-sm-4 {{if handleTime != '0'}}sel{{/if}}">
							<p class="mb20">商家接单</p>
							<p class="mt20">{{handleTime | dateFormat}}</p>
						</div>
						<div class="col-sm-4 {{if completeTime != '0'}}sel{{/if}}">
							<p class="mb20">确认收货</p>
							<p class="mt20">{{completeTime | dateFormat}}</p>
						</div>
					</div>
					<h3>订单信息</h3>
					<div class="clearfix">
						<div class="col-sm-6">
							<div class="tab-panel-col _left">
							 	<ul>
							 		<li>
							 			<label>收 货 人：</label> <span>{{receivingName}}</span>
							 		</li>
							 		<li>
							 			<label>联系电话：</label> <span>{{receivingPhone}}</span>
							 		</li>
							 		<li>
							 			<label>收货地址：</label> <span>{{receivingAddress}}</span>
							 		</li>
							 		<li>
							 			<label>备　　注：</label> <span>{{note}}</span>
							 		</li>
							 		<li>
							 			<label>订单编号：</label> <span>{{orderStringID}}</span>
							 		</li>
							 	</ul>
							</div>
						</div>
						<div class="col-sm-6 _right">
							<h4><img src="/static/img/order-ico.png">订单状态：{{orderStatus | statusFormat}}</h4>
							<div class="clearfix">
								{{if orderStatus == "5"}}
								<button class="btn btn-info" type="button" event-id="shipping" data-orderId="{{orderStringID}}" data-sellerId="{{sellerId}}">接单</button>
								<button class="btn btn-default" type="button" event-id="cancel" data-orderId="{{orderStringID}}" data-sellerId="{{sellerId}}">取消订单</button>
								{{/if}}
							</div>
						</div>
					</div>
					<div class="tab-panel-col mt30">
						<table style="width:100%;">
							<thead>
								<tr>
									<th>商品图</th>
									<th>商品名称</th>
									<th>商品规格</th>
									<th>商品数量</th>
								</tr>
							</thead>
							<tbody>
								{{each supermarketGoods as obj}}
								<tr>
									<td><img src="{{obj.goodsImg}}" width="80px"></td>
									<td>{{obj.goodsName}}</td>
									<td>{{obj.goodsSpec}}</td>
									<td>{{obj.goodsNum}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="tab-panel-col mt30 text-right">
						共计<span class="f24 text-org">{{goodsCount}}</span>件
					</div>
					<div class="tab-panel-col mt30">
					{{each supermarketOrderApplieList as obj}}
						<div class="panel panel-{{obj.handleType | handleTypeStyle}}">
						  	<div class="panel-heading">{{obj.handleType | handleType}}：{{obj.stateExplain | stateExplain}}<span class="fr">{{obj.createTime | dateFormat}}</span></div>
						  	<div class="panel-body">
						    	<p>原因：{{obj.reason}}</p>
						  	</div>
						</div>
					{{/each}}
				</div>
				</div>
			</div>
		</script>
	</body>

</html>
<script type="text/javascript" src="/module/seajs/sea.js"></script>
<script type="text/javascript">
	seajs.config({
	  	base: '/module/',
	  	alias: {
	    	'jquery': 'jquery/jquery.js',
	    	'citySelect': 'jquery/jquery.cityselect.js',
	    	'layer': 'layer/layer.js',
	    	'laydate': 'laydate/laydate.dev.js',
	    	'template': 'template/template.js',
	  	},
	  	vars: {
	        'src': '../static/orderManage/src/saleDetail'
	    }
	});
	seajs.use("/static/main");
</script>